<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.adminsystem.product.mapper.ProductMapper">

	<sql id="search">
		<where>
			<if test="search.keyword != null and search.keyword != ''">
				pname LIKE CONCAT('%',#{search.keyword},'%')
			</if>
			<if test="search.categoryId != null and search.categoryId.size() != 0">
				AND category_id IN
				<foreach item="category" collection="search.categoryId"
					open="(" separator="," close=")">
					#{category}
				</foreach>
			</if>
			<if test="search.status != null and search.status.size() != 0">
				AND status IN
				<foreach item="status" collection="search.status" open="("
					separator="," close=")">
					#{status}
				</foreach>
			</if>
		</where>
	</sql>

	<select id="selectPage" resultType="ProductDTO">
		select
			p.*,
		    c.name AS category_name,
		    s.uname AS seller_name
		from tbl_product p
		<include refid="search" />
		left outer join category c on p.category_id = c.category_id
		left outer join tbl_user s on p.seller_id = s.uid
		order by pno desc
		limit #{limit} offset #{offset}
	</select>

	<select id="selectCategories" resultType="CategoryDTO">
		select * from category
		order by category_id asc
	</select>

	<select id="selectOne" resultType="ProductDTO">
		select
			p.*,
		    c.name AS category_name,
		    s.uname AS seller_name
		from tbl_product p
		left outer join category c on p.category_id = c.category_id
		left outer join tbl_user s on p.seller_id = s.uid
		where pno = #{pno}
	</select>

	<select id="selectCount" resultType="int">
		select count(*) from tbl_product
		<include refid="search" />
	</select>

</mapper>